

!
ip vrf Vrf1
 exit
!

!

!
ipv6 mld snooping
!

!

!
no multicast snooping flood-restrict
!

!

!
port-group 1/1/1
 mode eth 25g-4x
 exit
!
port-group 1/1/2
 mode eth 25g-4x
 exit
!
port-group 1/1/3
 mode eth 25g-4x
 exit
!
port-group 1/1/4
 mode eth 25g-4x
 exit
!
port-group 1/1/5
 mode eth 25g-4x
 exit
!
port-group 1/1/6
 mode eth 25g-4x
 exit
!
port-group 1/1/7
 mode eth 25g-4x
 exit
!
port-group 1/1/8
 mode eth 25g-4x
 exit
!
port-group 1/1/9
 mode eth 25g-4x
 exit
!
port-group 1/1/10
 mode eth 25g-4x
 exit
!
port-group 1/1/11
 mode eth 25g-4x
 exit
!
port-group 1/1/12
 mode eth 25g-4x
 exit
!
port-group 1/1/13
 mode eth 100g-2x
 exit
!
port-group 1/1/14
 mode eth 100g-2x
 exit
!
port-group 1/1/15
 mode eth 100g-1x
 exit
!
port-group 1/1/16
 mode eth 100g-1x
 exit
!
port-group 1/1/17
 mode eth 100g-1x
 exit
!
port-group 1/1/18
 mode eth 100g-1x
 exit
!

!

!
nve
 source-interface loopback 1
 exit
!

!

!
evpn
!
 evi 3939
  vni 3939
  rd auto
  route-target 3939:1 both
!
 evi 201
  vni 201
  rd auto
  route-target 201:1 both
!
 evi 202
  vni 202
  rd auto
  route-target 202:1 both
!
 evi 203
  vni 203
  rd auto
  route-target 203:1 both
!
 evi 204
  vni 204
  rd auto
  route-target 204:1 both
!
 evi 205
  vni 205
  rd auto
  route-target 205:1 both
!
router-mac 00:01:02:03:04:02
vrf Vrf1
  vni 3000
  route-target 65535:30000 both
  advertise ipv4 connected
exit
!
!

!

!
ip virtual-router mac-address 00:00:00:11:22:01
!

!

!
virtual-network 3939
 description vlan:3939_extended_to_switches:VxRail-fabric-LEAF-1_VxRail-fabric-LEAF-2
 vxlan-vni 3939
!
virtual-network 201
 description vlan:201_extended_to_switches:
 vxlan-vni 201
!
virtual-network 202
 description vlan:202_extended_to_switches:
 vxlan-vni 202
!
virtual-network 203
 description vlan:203_extended_to_switches:
 vxlan-vni 203
!
virtual-network 204
 description vlan:204_extended_to_switches:
 vxlan-vni 204
!
virtual-network 205
 description vlan:205_extended_to_switches:
 vxlan-vni 205
!

!

!
interface virtual-network 3939
 no shutdown
 description "vlan:3939_extended_to_switches:VxRail-fabric-LEAF-1_VxRail-fabric-LEAF-2"
 ip vrf forwarding Vrf1
 ip address 172.16.3.3/24
 ip virtual-router address 172.16.3.254
!
interface virtual-network 201
 no shutdown
 description "vlan:201_extended_to_switches:"
 ip vrf forwarding Vrf1
 ip address 172.16.6.1/24
 ip virtual-router address 172.16.6.254
!
interface virtual-network 202
 no shutdown
 description "vlan:202_extended_to_switches:"
 ip vrf forwarding Vrf1
 ip address 172.16.7.1/24
 ip virtual-router address 172.16.7.254
!
interface virtual-network 203
 no shutdown
 description "vlan:203_extended_to_switches:"
 ip vrf forwarding Vrf1
 ip address 172.16.8.1/24
 ip virtual-router address 172.16.8.254
!
interface virtual-network 204
 no shutdown
 description "vlan:204_extended_to_switches:"
 ip vrf forwarding Vrf1
 ip address 172.16.9.1/24
 ip virtual-router address 172.16.9.254
!
interface virtual-network 205
 no shutdown
 description "vlan:205_extended_to_switches:"
 ip vrf forwarding Vrf1
 ip address 172.16.10.1/24
 ip virtual-router address 172.16.10.254
!

!

!
interface vlan 201
 virtual-network 201
 mtu 9216

!

!
interface vlan 202
 virtual-network 202
 mtu 9216

!

!
interface vlan 203
 virtual-network 203
 mtu 9216

!

!
interface vlan 204
 virtual-network 204
 mtu 9216

!

!
interface vlan 205
 virtual-network 205
 mtu 9216

!

!
interface vlan 3939
 ipv6 mld snooping querier
 virtual-network 3939
 mtu 9216

!

!
interface vlan 4000
 mtu 9216

!

!
vlt-domain 127
 backup destination 192.168.1.146
 discovery-interface ethernet1/1/47
 discovery-interface ethernet1/1/48
 peer-routing
 vlt-mac 00:00:00:00:00:02
!

!

!
ip name-server 8.8.8.8 1.1.1.1
!

!

!
uplink-state-group 1
 name "Virtual-switch-fail-over"
 enable
 downstream ethernet1/1/55
 downstream ethernet1/1/56
 upstream ethernet1/1/1
 upstream ethernet1/1/2
 upstream ethernet1/1/3
 upstream ethernet1/1/4
 upstream port-channel 14
 upstream port-channel 15
 upstream port-channel 16
 upstream port-channel 17
 upstream VLTi
!

!
